[submodule "safe-crates/virtio-drivers"]
	path = safe-crates/virtio-drivers
	url = git@github.com:os-module/virtio-drivers.git


[submodule "safe-crates/safe-virtio-drivers"]
	path = safe-crates/safe-virtio-drivers
	url = git@github.com:os-module/safe-virtio-drivers.git
