[submodule "domains"]
	path = domains
	url = git@github.com:os-module/domains.git
	branch = main
[submodule "domain-lib"]
	path = domain-lib
	url = git@github.com:os-module/domain-lib.git
	branch = main
