[package]
name = "devices"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arch = { path = "../arch" }
config = { path = "../config" }
platform = { path = "../platform" }
constants = { path = "../constants" }
ksync = { path = "../ksync" }
interrupt = { path = "../interrupt" }
drivers = { path = "../drivers" }
device_interface = { path = "../device_interface" }

spin = "0"
fdt = { git = "https://github.com/repnop/fdt" }
log = "0"
vfscore = { git = "https://github.com/os-module/rvfs.git", features = [
    "linux_error",
] }

virtio-drivers = { git = "https://github.com/rcore-os/virtio-drivers",rev = "de1c3b1" }
netcore = { git = "https://github.com/os-module/simple-net" }



[dependencies.smoltcp]
git = "https://github.com/rcore-os/smoltcp.git"
rev = "2ade274"
default-features = false
features = [
    "alloc",
    "log",             # no std
    "medium-ethernet",
]



[features]
default = ["test"]
ramdisk = []
test = []
vf2 = [] # enable to probe vf2's sdcard
hifive = []
