[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ksync = { path = "../base/ksync" }
constants = { path = "../base/constants" }
platform = { path = "../base/platform" }
config = { path = "../base/config" }
mem = { path = "../base/mem" }
arch = { path = "../base/arch" }

riscv = "0.11"
log = "0"
xmas-elf = "0.9"

spin = { workspace = true }
rref = { path = "../domain-tools/rref" }
interface = { path = "../domain-tools/interface" }
corelib = { path = "../domain-tools/corelib" }
basic = { path = "../domain-tools/basic", features = ["task"] }
task_meta = { path = "../domain-tools/task_meta" }
vfscore = { git = "https://github.com/os-module/rvfs.git" } #safe-crate
cpio_reader = { workspace = true }
libflate = { workspace = true }
core2 = { version = "0.4", default-features = false }
fdt = { git = "https://github.com/repnop/fdt" }

[features]
default = ["smp"]
smp = ["platform/smp"]
gui = []