[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arch = { path = "../subsystems/arch" }
platform = { path = "../subsystems/platform" }
mem = { path = "../subsystems/mem" }
interrupt = { path = "../subsystems/interrupt" }
devices = { path = "../subsystems/devices" }
drivers = { path = "../subsystems/drivers" }
unwinder = { path = "../subsystems/unwinder" }
constants = { path = "../subsystems/constants" }
config = { path = "../subsystems/config" }
vfs = { path = "../subsystems/vfs" }
timer = { path = "../subsystems/timer" }
ksync = { path = "../subsystems/ksync" }
knet = { path = "../subsystems/knet" }
gmanager = { path = "../subsystems/gmanager" }




riscv = "0.10"
bit_field = "0.10"
xmas-elf = "0.9"
bitflags = "1.3"
spin = "0"
log = "0"
vfscore = { git = "https://github.com/os-module/rvfs.git", features = [
    "linux_error",
] }
syscall-table = { git = "https://github.com/os-module/syscall-table.git" }
smpscheduler = { git = "https://github.com/os-module/smpscheduler.git" }
page-table = { git = "https://github.com/os-module/page-table.git", branch = "dev" }
netcore = {git = "https://github.com/os-module/simple-net"}


[features]
default = ["smp","test"]
qemu = ["platform/qemu_riscv","interrupt/qemu"]
vf2 = ["platform/vf2","interrupt/vf2", "devices/vf2"]
hifive = ["platform/hifive","interrupt/hifive"]
smp = ["platform/smp"]


slab = []
talloc = []
buddy = []

pager_buddy = ["mem/pager_buddy"]
pager_bitmap = ["mem/pager_bitmap"]


ramdisk = ["devices/ramdisk"]
test = ["devices/test"]